<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: head }"></head>
<body>
<div class="container">
<header th:replace="~{/fragments/navbar :: header}"></header>
<p th:utext="${message}"></p>
<a th:href="@{/student/form}" class="btn btn-primary">Register new Student</a>
<!--list of students-->
    <table th:if="${not #lists.isEmpty(students)}"
           class="table table-hover">
    <thead>
    <tr>
        <th >ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td>
<!--a -> update page-->
            <a th:href="@{/student/edit/{id}(id=${student.id})}">ℹ️ </a>
            <form th:action="@{/student/delete/{id}(id=${student.id})}"
                  th:method="post">
                <button type="submit">❌</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p th:if="${#lists.isEmpty(students)}"
   style="color:gray"> No Students yet.</p>

<footer th:replace="~{/fragments/footer :: footer}"></footer>
</div>
</body>
</html>
